* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #fff;
  }
  
  nav {
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 1.2rem;
    background-color: #222;
    text-transform: capitalize;
    z-index: 9;
  }
  
  .nav {
    list-style: none;
    margin: 0;
  }
  
  .nav > li {
    float: left;
    display: block;
    position: relative;
    left: 250px;
    padding: 20px 30px;
  }
  
  .nav > li > a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav::after,
  #about::after,
  #project::after {
    content: "";
    display: block;
    clear: both;
  }
  
  header {
    position: relative;
    height: 100vh;
    background: url("../images/michael.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;
    padding: 0;
    color: #fff;
  }
  
  .intro {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    padding: 0 15px;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .overlay {
    height: 100%;
    background-color: rgba(66, 70, 81, 0.7);
  }
  
  .bg-heading {
    margin: 15px 0;
    font-weight: 400;
    font-size: 6rem;
  }
  
  .sm-heading {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
  }
  
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  #about,
  #project,
  #contact {
    padding-top: 120px;
  }
  
  #about {
    background: #f2f2f2;
    padding-bottom: 60px;
  }
  
  #about h2 {
    padding-left: 10px;
  }
  
  #profile {
    width: 225px;
    height: 225px;
    border-radius: 50%;
  }
  
  .about-line {
    width: 10%;
    height: 1px;
    background-color: #000;
    margin: 30px auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 60px -25px;
  }
  
  .col {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .fluid {
    text-align: right;
  }
  
  .col img {
    height: 263px;
    width: 420px;
  }
  
  .education {
    margin-top: 200px;
  }
  
  .education ul {
    clear: left;
    list-style: none;
  }
  
  #contact {
    background: #f2f2f2;
    padding-bottom: 100px;
  }
  
  .contact-info {
    list-style: none;
    padding-bottom: 50px;
    margin: 0;
  }
  
  .contact-info > li {
    padding-bottom: 10px;
  }
  
  #footer {
    padding: 100px 0;
    background-color: #000;
    color: #777;
    font-size: 14px;
  }
  